        <button onclick="history.back()">Go Back</button>
<h3 style="text-align: center">{{viewTitle}}</h3>
<p style="text-align: center;">(<b>Note: </b>Before Booking slots. please ensure the available slots by clicking "View Booked Slots")</p>
<br>

<form action="/employeeee" method="POST" autocomplete="off" style="float:center; margin-left: 170px " >
<input type="hidden" name="_id" value="{{employeeee._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{employeeee.fullName}}" style="height:40px ;width:400px; border-radius: 3px">
        <div class="text-danger">
            {{employeeee.fullNameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="College Mail Id" value="{{employeeee.email}}" style="height:40px ;width:400px; border-radius: 3px">
        <div class="text-danger">
            {{employeeee.emailError}}</div>
    </div>
 
        <div class="form-group">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{employeeee.mobile}}" style="height:40px ;width:400px; border-radius: 3px">
        </div>
    

    
        <div class="form-group">
            <label>Department</label><br>
            <select id="department" name="department" value="{{employeeee.department}}" style="height:40px ;width:400px; border-radius: 3px">
                <option value="" selected>Choose department</option>
                <option value="IT">IT</option>
                <option value="CSE">CSE</option>
                <option value="ECE">ECE</option>
                <option value="EEE">EEE</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Civil">Civil</option>
                <option value="Mechatronics">Mechatronics</option>
                <option value="Data Science">Data Science</option>
                <option value="CSBS">CSBS</option>
              </select>
        </div> 
        
      
         <div class="form-group">
            <label>Equipment</label><br>
            <select id="equipment" name="equipment" value="{{employeeee.equipment}}" style="height:40px ;width:400px; border-radius: 3px">
                <option value="" selected>Choose Equipment</option>
                <option value="CNC Lathe">CNC Lathe</option>
                <option value="CNC Milling">CNC Milling</option>
                <option value="TIG Welding">TIG Welding</option>
                <option value="MIG Welding">MIG Welding</option>
                <option value="CNC Tube Bending">CNC Tube Bending</option>
                <option value="Hydraulic Press">Hydraulic Press</option>
              </select></div>
        
        <div class="form-row">
        <div class="form-group">
            <label>Time Slot (Starting Time)</label>
            <input type="datetime-local" class="form-control" name="timeslots" placeholder="Time Slot" value="{{employeeee.timeslots}}" style="height:40px ;width:195px; border-radius: 3px">
        </div>
    
      <div class="form-group">
            <label>Time Slot (Ending Time)</label>
            <input type="datetime-local" class="form-control" name="timeslote" placeholder="Time Slot" value="{{employeeee.timeslote}}" style="height:40px ;width:195px; border-radius: 3px;">
        </div>
    </div>

    <div class="form-group col-md-6"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Book Slot</button>
        <a class="btn btn-secondary" href="/employeeee/list3"><i class="fa fa-list-alt"></i> View Booked Slots</a>
    </div>
</form>